`ifndef DMA_ENV_SV
`define DMA_ENV_SV

class dma_env extends uvm_env;

    `uvm_component_utils(dma_env)

    dma_agent      agent;
    dma_scoreboard scoreboard;

    function new(string name = "dma_env", uvm_component parent);
        super.new(name, parent);
    endfunction

    function void build_phase(uvm_phase phase);
        super.build_phase(phase);

        agent      = dma_agent::type_id::create("agent", this);
        scoreboard = dma_scoreboard::type_id::create("scoreboard", this);
    endfunction

    function void connect_phase(uvm_phase phase);
        agent.monitor.ap.connect(scoreboard.analysis_export);
    endfunction

endclass

`endif
